{% load static %}
<footer class="footer mt-auto">
      <div class="copyright bg-white">
        <p>
          Copyright &copy; <span id="copy-year"></span> a template by <a class="text-primary" href="https://themefisher.com" target="_blank">Themefisher</a>.
        </p>
      </div>
      <script>
        var d = new Date();
        var year = d.getFullYear();
        document.getElementById("copy-year").innerHTML = year;
      </script>
    </footer>

   </div> <!-- End Page Wrapper -->
  </div> <!-- End Wrapper -->



    <!-- Javascript -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/plugins/simplebar/simplebar.min.js' %}"></script>

    <script src="{% static 'assets/plugins/charts/Chart.min.js'%}"></script>
    <script src="{% static 'assets/js/chart.js '%}"></script>




    <script src="{% static 'assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jvectormap/jquery-jvectormap-world-mill.js' %}"></script>
    <script src="{% static 'assets/js/vector-map.js' %}"></script>

    <script src="{% static 'assets/plugins/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/js/date-range.js' %}"></script>








    <script src="{% static 'assets/plugins/toastr/toastr.min.js' %}"></script>












    <script src="{% static 'assets/js/sleek.js' %}"></script>
  <link href="{% static 'assets/options/optionswitch.css' %}" rel="stylesheet">
<script src="{% static 'assets/options/optionswitcher.js' %}"></script>

</body>
</html>
